<!DOCTYPE html>
<!-- 管理者向けのカレンダーと従業員一覧へのリンク。 -->
<html>
<head>
  <meta charset="utf-8">
  <title>管理者ページ</title>
  <link rel="stylesheet" th:href="@{./css/admin.css}">
   <!-- <link rel="stylesheet" href="../static/css/admin.css"> -->
</head>
<body>
  <div class="main">
    <div class="nav">
      <h1>管理者ページ</h1>
      <a href="http://localhost:8080/admin/calendar">カレンダー</a>
      <a href="http://localhost:8080/admin/employee-list">従業員一覧</a>
      <a href="http://localhost:8080/timecard">打刻画面</a>
    </div>
  </div>
</body>
</html>